.input{
  font-size: 4em !important;
  height: 60px !important;
  margin-top: 10px;
  text-align: center;
}

.clear{
  margin-top: 10px;
    font-size: 2em !important;
    width: 100%;
    color: darkorange !important;
    transition: 0.5s;
}

.clear:hover{
  color: blueviolet !important;
    transition: 0.5s;
}